<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1>Andrew's F1Time lap data extractor</h1>
		<%= yield %>
		
		<!-- Google Analytics Code -->
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-1815036-5");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
		<!-- Google Analytics Code -->
		
	</body>
</html>