<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link href="style.css" rel="stylesheet" type="text/css" />
		<title>Andrew's F1Time Tools</title>
	</head>
	<body>
		<h1>Andrew's F1Time lap data extractor</h1>
		
		<% if @error %>
			<div class="error"><%= @error %></div>
		<% end %>
		
		<%= yield %>
		
		<!-- Google Analytics Code -->
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-1815036-5");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
		<!-- Google Analytics Code -->
		
	</body>
</html>