body {
	font-family: Arial, Helvetica, Verdana;
}

#left {
	float: left;
	width: 420px;
}

#right {
	margin-left: 440px;
}

table.classic {
	width: 600px;
	border: 1px solid black;
	border-collapse: collapse;
	font-size: x-small;
	text-align: right;
}

.header {
	background-color: black;
	color: white;
	text-align: center;
	font-size: medium;
}

.footer {
	font-size: x-small;	
}

.error {
	font-weight: bold;
	color: red;
}